<div class="w3-rest ">
	<img src="{{staticBaseUrl}}/svg/state-{{stateAbbreviation}}.svg" class="state-img w3-img " style="height: 128px; "/>
	<p><span class="state-stop-count ">{{stopCountStr}}</span><span> stops</span></p>
	<a class="state-search-link " href="/report?var=stateAbbreviation:{{stateAbbreviation}}" class="w3-btn ">{{stateName}} {{stateAbbreviation}}</a>
</div>
