
{{#partial "head_content"}}
		<title>Open Data Policing</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="keywords" content="">
		<script src="{{staticBaseUrl}}/js/sockjs.js"></script>
		<script src="{{staticBaseUrl}}/js/vertx-eventbus.js"></script>
		<script src="{{staticBaseUrl}}/js/enUS/SiteAgencyPage.js"></script>
		<script src="{{staticBaseUrl}}/js/jQuery-Autocomplete/jquery.autocomplete.js"></script>

		<script>
		$(function() {
			$( "#tabsAgencies" ).tabs();
			$( "#suggestSiteAgencyInput" ).autocomplete({
				minChars: 1
				, dataType: "json"
				, serviceUrl: "/api/agency"
				, paramName: "q"
				, paramPrefix: "objectSuggest:"
				, onSelect: function(suggestion) {
					window.location.href = "/report?var=stateAbbreviation:" + encodeURIComponent(suggestion.data.stateAbbreviation) + "&var=agencyTitle:" + encodeURIComponent(suggestion.data.agencyTitle);
				}
				, transformResult: function(response) {
					return {
						suggestions: jQuery.map(response.list, function(item) {
							return {
								value: item.objectTitle
								, data: item
								, id: item.pk
							};
						})
					};
				}
			});
		});
		</script>
{{/partial}}

{{#partial "body_content"}}
	<div id='wrap'>

		<div class="w3-2017-navy-peony w3-padding-32 ">
			<div class="w3-content w3-center ">
				<div class="w3-row ">
					<div class="w3-threequarter ">
						<h1>{{state.stateName}}</h1>
						<p>Browse all known traffic stops to have occured in {{state.stateName}} since {{beginStopDateTime}}</p>
					</div>
					<div class="w3-quarter ">
						<img src="{{staticBaseUrl}}/svg/state-{{state.stateAbbreviation}}.svg" class="state-img w3-img " style="height: 128px; "/>
					</div>
				</div>
			</div>
		</div>

		<div class="w3-light-gray ">
			<div class="w3-content ">
				<div class="w3-row ">
					<div class="w3-half w3-padding ">
						<div id="tabsAgencies" class="w3-light-gray ">
							<ul>
								<li><a href="#tabsAgencies-1">Agencies</a></li>
								<li><a href="#tabsAgencies-2">Find a Stop</a></li>
							</ul>
							<div id="tabsAgencies-1">
								<p>Review agency-level data on the race/ethnic composition demographics of people stopped, searched, and subjected to force in the course of traffic stops in a given jurisdiction. </p>
								<p>Click here to browse a list of all agencies for which data is available. </p>
								<h3>View Agency Dashboard</h3>
								<div>
									<input type="text" class="suggestSiteAgency w3-input w3-border w3-bar-item " name="suggestSiteAgency" id="suggestSiteAgencyInput">
								</div>
								<h3>Largest Agencies</h3>
								<table class="w3-table w3-bordered  w3-hoverable w3-border-top ">
									<thead>
										<tr>
											<th class="w3-left-align font-weight-bold ">City</th>
											<th class="w3-left-align font-weight-bold ">Stops</th>
										</tr>
									</thead>
									<tbody>
										{{#each agencyFacets}}
										<tr>
											<td>
												<a href="/report?var=stateAbbreviation:{{urlencode stateAbbreviation}}&var=agencyTitle:{{urlencode agencyTitle}}">{{agencyTitle}}</a>
											</td>
											<td>{{stopCount}}</td>
										</tr>
										{{/each}}
									</tbody>
								</table>
							</div>
							<div id="tabsAgencies-2">
								<p>Use this feature to identify the stop and search patterns of individual police officers. Search for North Carolina traffic stops using the form fields below. Use <a href="/stop">Advanced Search</a> for additional filtering criteria. When you have found the stop you are looking for, click the Officer ID hyperlink to review the data associated with the officer involved. </p>
								<div class="">
									<div class="w3-row ">
										<div class="w3-rest ">
											<div class="font-weight-bold ">Agency name</div>
											<div>
												<input type="text" placeholder="Agency Name" id="agencySuggestInput" class="w3-input w3-border " name="agencySuggest"/>
											</div>
											<div class="w3-text-gray ">ex: Durham Police Department</div>
										</div>
									</div>
									<div class="w3-row ">
										<div class="w3-half ">
											<div class="font-weight-bold ">Start date</div>
											<div>
												<input type="text" placeholder="Start date" id="startDateInput" class="w3-input w3-border " name="startDate"/>
											</div>
											<div class="w3-text-gray ">ex: 8/13/2013</div>
										</div>
										<div class="w3-half ">
											<div class="font-weight-bold ">End date</div>
											<div>
												<input type="text" placeholder="End date" id="endDateInput" class="w3-input w3-border " name="endDate"/>
											</div>
											<div class="w3-text-gray ">ex: 8/13/2013</div>
										</div>
									</div>
									<div class="w3-row ">
										<div class="w3-quarter ">
											<div class="font-weight-bold ">Age</div>
											<div>
												<input type="number" placeholder="Age" id="ageInput" class="w3-input w3-border " name="age" max="130" min="0"/>
											</div>
										</div>
										<div class="w3-quarter ">
											<div class="font-weight-bold ">Gender</div>
											<div>
												<select id="genderInput" class="w3-input " name="gender"/>
													<option value="" selected="selected">---</option>
													<option value="M">Male</option>
													<option value="F">Female</option>
												</select>
											</div>
										</div>
									</div>
									<div class="w3-row ">
										<div class="w3-half ">
											<div class="font-weight-bold ">Race</div>
											<div>
												<select type="text" placeholder="Race" id="raceInput" class="w3-input w3-border " name="race">
													<option value="" selected="selected">---</option>
													{{#each personRaceTitles}}
													<option value="{{this}}">{{this}}</option>
													{{/each}}
												</select>
											</div>
										</div>
									</div>
									<div class="w3-row ">
										<div class="w3-right-align ">
											<button class="w3-btn w3-round w3-border w3-indigo " type="submit">Search</button>
										</div>
									</div>
								</div>
								<table class="w3-table w3-striped w3-border w3-bordered w3-hoverable ">
									<thead id="theadStopCountPercent" class="font-weight-bold ">
										<tr id="theadRowStopCountPercent">
										</tr>
									</thead>
									<tbody id="tbodyStopCountPercent">
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="w3-half w3-padding ">
						<h3>About</h3>
						<p>Open Data Policing aggregates, visualizes, and publishes public records related to all known traffic stops to have occurred in North Carolina since Jan 01, 2002. Data is available for most North Carolina departments and officers serving populations greater than 10,000. </p>
						<p>North Carolina law requires all such agencies to report their data on a monthly basis to the NC Department of Justice; however, some datasets are incomplete or remain unreported. Where data sets are incomplete or missing from the website it is because they have not been reported to the state agency from which the site derives its records. Open Data Policing does not have access to, nor does it publish, the names of officers, drivers, or passengers involved in traffic stops. </p>
						<h3>Dataset Facts</h3>
						<table class="w3-table w3-bordered w3-hoverable w3-border-top ">
							<tbody>
								<tr>
									<td class="font-weight-bold ">Timeframe</td>
									<td>{{beginStopDateTime}} - {{endStopDateTime}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold ">Stops</td>
									<td>{{stopCount}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold ">Searches</td>
									<td>{{searchCount}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold ">Agencies</td>
									<td>{{agencyCount}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/partial}}
{{> base-page}}

