
{{#partial "head_content"}}
		<title>Open Data Policing</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="keywords" content="">
		<script src="{{staticBaseUrl}}/js/sockjs.js"></script>
		<script src="{{staticBaseUrl}}/js/vertx-eventbus.js"></script>
		<script src="{{staticBaseUrl}}/js/enUS/SiteAgencyPage.js"></script>
		<script src="{{staticBaseUrl}}/js/jQuery-Autocomplete/jquery.autocomplete.js"></script>

		<script>

		function stopSearch() {
			var stateAbbreviation = $("#stateAbbreviationInput").val();
			var agencyTitle = $("#agencyTitleInput").val();
			var stopOfficerId = $("#stopOfficerIdInput").val();
			var age = $("#ageInput").val();
			var gender = $("#genderInput").val();
			var race = $("#raceInput").val();
			var startDate = $.datepicker.formatDate('yy-mm-dd', $("#startDateInput").datepicker('getDate'));
			var endDate = $.datepicker.formatDate('yy-mm-dd', $("#endDateInput").datepicker('getDate'));
			var searchParams = [];

			// stop purposes
			{{#each personPurposeTitles}}
			if($("#purposeInput-{{id}}").is(':checked'))
				searchParams.push("var=purpose-{{id}}:true");
			{{/each}}

			// stop actions
			{{#each personActionTitles}}
			if($("#actionInput-{{id}}").is(':checked'))
				searchParams.push("var=action-{{id}}:true");
			{{/each}}

			// other fields
			if(stateAbbreviation)
				searchParams.push("var=stateAbbreviation:" + encodeURIComponent(stateAbbreviation));
			if(agencyTitle)
				searchParams.push("var=agencyTitle:" + encodeURIComponent(agencyTitle));
			if(stopOfficerId)
				searchParams.push("var=stopOfficerId:" + encodeURIComponent(stopOfficerId));
			if(age)
				searchParams.push("var=age:" + encodeURIComponent(age));
			if(gender)
				searchParams.push("var=gender:" + encodeURIComponent(gender));
			if(race)
				searchParams.push("var=race:" + encodeURIComponent(race));
			if(startDate) {
				startDate += "T00:00:00.000[{{siteZone}}]";
				searchParams.push("var=startDate:" + startDate);
			}
			if(endDate) {
				endDate += "T23:59:59.999[{{siteZone}}]";
				searchParams.push("var=endDate:" + endDate);
			}

			var searchUrl = "/stop?" + searchParams.join("&");
			window.location.href = searchUrl;
		}

		$(function() {
			$("#stopSearchSubmit").click(stopSearch);
			$( "#tabsAgencies" ).tabs();
			$( ".datepicker" ).datepicker({
					changeMonth: true
					, changeYear: true
					, minDate: new Date({{startYear}}, 1, 1)
					, maxDate: "+0D"
					});
			$( "#suggestSiteAgencyInput" ).autocomplete({
				minChars: 1
				, dataType: "json"
				, serviceUrl: "/api/agency"
				, paramName: "q"
				, paramPrefix: "objectSuggest:"
				, onSelect: function(suggestion) {
					$("#agencyTitleInput").val(suggestion.data.agencyTitle);
					$("#stateAbbreviationInput").val(suggestion.data.stateAbbreviation);
				}
				, onHide: function(suggestion) {
					$("#agencyTitleInput").val(suggestion.data.agencyTitle);
					$("#stateAbbreviationInput").val(suggestion.data.stateAbbreviation);
				}
				, transformResult: function(response) {
					return {
						suggestions: jQuery.map(response.list, function(item) {
							return {
								value: item.objectTitle
								, data: item
								, id: item.pk
							};
						})
					};
				}
			});
		});
		</script>
{{/partial}}

{{#partial "body_pagination"}}
				<div class="w3-row ">

					{{#if pagination.pageStart.currentPage}}
					<span class="w3-padding w3-disabled " title="first page"><i class="fas fa-fast-backward"></i></span>
					{{else}}
					<a class="w3-button " title="first page" href="{{pagination.pageStart.url}}"><i class="fas fa-fast-backward"></i></a>
					{{/if}}

					{{#if pagination.pagePrev}}
					<a class="w3-button " title="previous page" href="{{pagination.pagePrev.url}}"><i class="fas fa-step-backward"></i></a>
					{{else}}
					<span class="w3-padding w3-disabled " title="previous page"><i class="fas fa-step-backward"></i></span>
					{{/if}}

					{{#each pagination.pages}}
						{{#if currentPage}}
						<span class="pagination-active w3-button w3-2017-navy-peony ">{{pageNumber}}</span>
						{{else}}
						<a class="pagination-link w3-button " href="{{url}}">{{pageNumber}}</a>
						{{/if}}
					{{/each}}

					{{#if pagination.pageNext}}
					<a class="w3-button " title="next page" href="{{pagination.pageNext.url}}"><i class="fas fa-step-forward"></i></a>
					{{else}}
					<span class="w3-padding w3-disabled " title="next page"><i class="fas fa-step-forward"></i></span>
					{{/if}}

					{{#if pagination.pageEnd.currentPage}}
					<span class="w3-padding w3-disabled " title="last page"><i class="fas fa-fast-forward"></i></span>
					{{else}}
					<a class="w3-button " title="last page" href="{{pagination.pageEnd.url}}"><i class="fas fa-fast-forward"></i></a>
					{{/if}}
					<span class="w3-padding ">{{pagination.startNum}} - {{pagination.endNum}} of {{numberFormat pagination.numFound "integer" "en_US"}}</span>
					{{else}}
				</div>
{{/partial}}

{{#partial "body_content"}}
	<div id='wrap'>

		<div class="w3-2017-navy-peony w3-padding-32 ">
			<div class="w3-content w3-center ">
				<div class="w3-row ">
					<div class="w3-left ">
						<h1>Find a Traffic Stop</h1>
					</div>
					<div class="w3-right w3-padding-16 ">
						<a class="w3-btn w3-round w3-border w3-indigo " href="/agency?var=stateAbbreviation:{{stateAbbreviation}}">Find an Agency</a>
					</div>
				</div>
			</div>
		</div>

		<div class="w3-light-gray ">
			<div class="w3-content ">
				<div id="w3-row ">
					<div class="w3-half w3-padding ">
						<h3 class="w3-center ">Basic Search</h3>
						<div class="">
							<div class="w3-row ">
								<div class="w3-rest ">
									<div class="font-weight-bold ">Agency name</div>
									<div>
										<input type="text" placeholder="Agency Name" class="w3-input w3-border " name="agencySuggest" id="suggestSiteAgencyInput"{{#if agencyTitle}} value="{{agencyTitle}} ({{stateAbbreviation}})"{{/if}}/>
										<input type="hidden" name="agencyTitle" id="agencyTitleInput" value="{{agencyTitle}}"/>
										<input type="hidden" name="stateAbbreviation" id="stateAbbreviationInput" value="{{stateAbbreviation}}"/>
									</div>
									<div class="w3-text-gray ">ex: Durham Police Department</div>
								</div>
							</div>
							<div class="w3-row ">
								<div class="w3-half ">
									<div class="font-weight-bold ">Start date</div>
									<div>
										<input type="text" placeholder="Start date" id="startDateInput" class="datepicker w3-input w3-border " name="startDate" value="{{startDateStr}}"/>
									</div>
									<div class="w3-text-gray ">ex: 8/13/2013</div>
								</div>
								<div class="w3-half ">
									<div class="font-weight-bold ">End date</div>
									<div>
										<input type="text" placeholder="End date" id="endDateInput" class="datepicker w3-input w3-border " name="endDate" value="{{endDateStr}}"/>
									</div>
									<div class="w3-text-gray ">ex: 8/13/2013</div>
								</div>
							</div>
							<div class="w3-row ">
								<div class="w3-quarter ">
									<div class="font-weight-bold ">Age</div>
									<div>
										<input type="number" placeholder="Age" id="ageInput" class="w3-input w3-border " name="age" max="130" min="0" value="{{age}}"/>
									</div>
								</div>
								<div class="w3-quarter ">
									<div class="font-weight-bold ">Gender</div>
									<div>
										<select id="genderInput" class="w3-input " name="gender"/>
											<option value="">---</option>
											<option value="Male"{{#eq "Male" gender}} selected="selected"{{else}}{{/eq}}>Male</option>
											<option value="Female"{{#eq "Female" gender}} selected="selected"{{else}}{{/eq}}>Female</option>
										</select>
									</div>
								</div>
							</div>
							<div class="w3-row ">
								<div class="w3-half ">
									<div class="font-weight-bold ">Race</div>
									<div>
										<select type="text" placeholder="Race" id="raceInput" class="w3-input w3-border " name="race">
											<option value="">---</option>
											{{#each personRaceTitles}}
											<option value="{{this}}"{{#eq this race}} selected="selected"{{else}}{{/eq}}>{{this}}</option>
											{{/each}}
										</select>
									</div>
								</div>
							</div>
							<div class="w3-row ">
								<div class="w3-right-align ">
									<button class="w3-btn w3-round w3-border w3-indigo " type="submit" id="stopSearchSubmit">Search</button>
								</div>
							</div>
						</div>
					</div>
					<div class="w3-half w3-padding ">
						<h3 class="w3-center ">Advanced Search</h3>
						<div class="">
							<div class="w3-row ">
								<div class="w3-rest ">
									<div class="font-weight-bold ">Officer ID</div>
									<div>
										<input type="text" placeholder="Officer ID" class="w3-input w3-border " name="stopOfficerId" value="{{stopOfficerId}}" id="stopOfficerIdInput"/>
									</div>
									<div class="w3-text-gray ">ex: 227</div>
								</div>
							</div>
							<div class="w3-row ">
								<div class="w3-half ">
									<div class="font-weight-bold ">Purpose</div>
									{{#each personPurposeTitles}}
									<div>
										<label>
											<input type="checkbox" id="purposeInput-{{id}}" class="" value="{{value}}"{{#if checked}} checked="checked"{{else}}{{/if}}/>
											<span>{{value}}</span>
										</label>
									</div>
									{{/each}}
								</div>
								<div class="w3-half ">
									<div class="font-weight-bold ">Action</div>
									{{#each personActionTitles}}
									<div>
										<label>
											<input type="checkbox" id="actionInput-{{id}}" class="" value="{{value}}"{{#if checked}} checked="checked"{{else}}{{/if}}/>
											<span>{{value}}</span>
										</label>
									</div>
									{{/each}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="w3-light-gray ">
			<div class="w3-content ">
				<h2>Stops ({{searchTotal}} total)</h2>
				{{#block "body_pagination"}}
				{{/block}}
				<table class="w3-table w3-bordered ">
					<thead>
						<tr>
							<th class="font-weight-bold ">Date</th>
							<th class="font-weight-bold ">Gender</th>
							<th class="font-weight-bold ">Race</th>
							<th class="font-weight-bold ">Age</th>
							<th class="font-weight-bold ">Purpose</th>
							<th class="font-weight-bold ">Action</th>
							<th class="font-weight-bold ">Agency</th>
							<th class="font-weight-bold ">Officer ID</th>
						</tr>
					</thead>
					<tbody>
						{{#each stops}}
						<tr>
							<td>{{stopDateTime}}</td>
							<td>{{#each personGenderTitles}}{{#if @first}}{{else}}, {{/if}}{{this}}{{/each}}</td>
							<td>{{#each personRaceTitles}}{{#if @first}}{{else}}, {{/if}}{{this}}{{/each}}</td>
							<td>{{#each personAges}}{{#if @first}}{{else}}, {{/if}}{{this}}{{/each}}</td>
							<td>{{stopPurposeTitle}}</td>
							<td>{{stopActionTitle}}</td>
							<td>
								<a href="/report?var=stateAbbreviation:{{urlencode stateAbbreviation}}&var=agencyTitle:{{urlencode agencyTitle}}" class="w3-text-indigo ">{{agencyTitle}}</a>
							</td>
							<td>
								<a href="/report?var=stateAbbreviation:{{urlencode stateAbbreviation}}&var=agencyTitle:{{urlencode agencyTitle}}&var=stopOfficerId:{{urlencode stopOfficerId}}" class="w3-text-indigo ">{{stopOfficerId}}</a>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
				{{#block "body_pagination"}}
				{{/block}}
			</div>
		</div>
	</div>
{{/partial}}
{{> base-page}}

